# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
*.env
.venv/
venv/
dist/
build/
*.egg

# Environment
.env
.env.local

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
node_modules/
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
Get-Location
